*{
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
.head{
    font-family: 'Cormorant Garamond';
    font-size: 45px;
    font-weight: 400;
    border: 3px solid transparent;
    width: 100%;
    height: 108px;
    text-align: center;
    margin-bottom: 100px;
}
.head1{
    border: 2px solid transparent;
    width: 100%;
    height: 546px;
    display: flex;
    padding-left: 100px;
}

.head11 p{
 margin-top: 100px;
 margin-left: 80px;
 font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 58px;
}
#head1{
 font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 1.5em;
line-height: 32px;
margin-bottom: 50PX;
}
.head2{ 
width: 110px;
height: 40px;
font-family: 'Outfit';
 margin-left: 80px;
 font-size: 1.5em;
 color: #D1B06B;
 margin-top: 100px;
}
#head3{
    font-family: 'Outfit';
    margin-left: 80px;
    padding-bottom: 30px;
    padding-right: 400px;
    border-bottom: 1px solid gray;
    font-size: 1.5em;
    color: #D1B06B;
    text-decoration: none;
}
.space{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 100px;
    border-bottom: 1px solid gray;
    margin-bottom: 100px;
}
.body1{
    width: 440px;
    margin-left: 100px;
}
#head4{
    font-family: 'Outfit';
    border-bottom: 1px solid gray;
    font-size: 1.5em;
    color: #D1B06B;
    text-decoration: none;
    width: 440px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.body1 p{
margin-top: 40px;
 font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 39px;
}
.head5{
width: 110px;
height: 40px;
margin-top: 30px;
font-family: 'Outfit';
 font-size: 1.5em;
 color: #D1B06B;
}
.body{
    display: flex;
    margin-top: 100px;
}
#head6{
font-family: 'Outfit';
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0.4px;
color: #D7D7D7;
margin-bottom: 30px;
}
.body21 img{
    width: 100%;
    margin-top: 140px;
    margin-bottom: 100px;
}
.body22 img{
    width: 100%;

}
.body32{
    margin-left: 80px;
}
.body31 a{
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 39px;
text-decoration: none;
letter-spacing: 0.4px;
color: #FFFFFF;

}
.body311 a{
    margin-top: 20px;
display: block; 
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0.4px;
text-transform: capitalize;
color: #D7D7D7;
}
.body312 a{
    margin-top: 20px;
display: block; 
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0.4px;
text-transform: capitalize;
color: #D7D7D7;
margin-left: 80px;
}
.body31{
    display: flex;
    margin-left: 80px;
    margin-top: 20px;
    border: 1px solid gray;
    width: 350px;
    border-left: none;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
.body311, .body312{
    margin-top: 20px;
}
.body31 a{
    height: 50px;
}
.body32{
    display: flex;
}
.body3 img{
    width: 100%;
    margin-bottom: 100px;
}
.body4 p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;    
    color: #D7D7D7;
}
.body4{
    display: flex;
    margin-left: 30px;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    padding-top: 30px;
    padding-bottom: 30px;
}
#yellow{
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 35px;
letter-spacing: 0.4px;
color: #D1B06B;
}
#ab{
    margin-left: 600px;
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0.4px;
color: #D1B06B;

}
.fa-facebook-f{
    font-size: 2em;
    margin-left: 30px;
}
.fa-twitter{
    font-size: 2em;
    margin-left: 30px;
}
.fa-instagram{
    font-size: 2em;
    margin-left: 30px;
    margin-right: 30px;
}
